* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.navbar {
    position: relative;
    background: black;
}

#navlist {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    background: black;
}

#navlist li {
    flex: auto;
    text-align: center;
    padding: 1.6em;
    font-size: 18px;
    color: white;
}

#navlist li:hover {
    background: red;
}

#toggle-nav {
    display: none;
    margin: auto;
    cursor: pointer;
}

.boardContainer {
    display: flex;
    width: 305px;
    height: 305px;
    flex-wrap: wrap;
    margin: 30px;
    border: 3px solid black;
    margin: auto;
    margin-top: 30px;
}

.cell {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid black;
}

@media all and (max-width: 500px) {
    .navbar {
        padding: 1.6em;
    }

    #navlist {
        flex-direction: column;
        display: none;
    }

    #toggle-nav {
        display: block;
        color: white;
    }
}